FV3/conf/configure.fv3
*.o
__pycache__
*.pyc
*.mod
*.a
.DS_Store
inputdata
experiments
.idea
/TAGS
.DS_Store
*.tar.gz
depend
**/.vscode
fv3.exe
*.tmp.f90
venv/**
*.html
**data/*
*.dat
*.json
**rundir**
**/RESTART/*
*.nc
**/data/**
**/*.egg-info
*.gcno
*.gcda
