[submodule "serialbox"]
	path = serialbox
	url = https://github.com/GridTools/serialbox.git
[submodule ".jenkins/env"]
	path = .jenkins/env
	url = https://github.com/VulcanClimateModeling/buildenv.git
