[submodule "serialbox"]
	path = serialbox
	url = https://github.com/GridTools/serialbox.git
[submodule ".jenkins/env"]
	path = .jenkins/env
	url = https://github.com/VulcanClimateModeling/buildenv.git
[submodule "FV3/call_py_fort"]
	path = FV3/call_py_fort
	url = https://github.com/nbren12/call_py_fort.git
