*.out
*.exe
FV3/conf/configure.fv3
*.o
__pycache__
*.pyc
*.mod
*.a
.DS_Store
inputdata
experiments
.idea
/TAGS
.DS_Store
*.tar.gz
depend
*/depend
*/*/depend
FV3/gfsphysics/GFS_layer/*.tmp.f90
stochastic_physics/four_to_grid_stochy.f
