pytest==5.2.2
gcsfs==0.4.0
fsspec==0.6.0
f90nml==1.1.0
google-cloud-storage==1.23.0
-e git+https://github.com/VulcanClimateModeling/fv3config.git@836d193dc666ed1d33d7276c524020252db019bc#egg=fv3config
