version: 2.1
orbs:
  gcp-cli: circleci/gcp-cli@2.1.0
  gcp-gcr: circleci/gcp-gcr@0.6.1
jobs:
  nix-mac:
    macos:
      xcode: 11.3.0
    environment:
      FV3CONFIG_CACHE_DIR: /tmp/.fv3config
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/key.json
      MPIR_CVAR_OFI_SKIP_IPV6: "1"
    steps:
      - run: |
          curl -L -O https://nixos.org/nix/install
          sh install --darwin-use-unencrypted-nix-store-volume
          rm -f install
      - run: |
          nix-env -i git openssh google-cloud-sdk
          nix-env -iA cachix -f https://cachix.org/api/v1/install
          cachix use vulcanclimatemodeling
          echo $ENCODED_GCR_KEY | base64 -d > $GOOGLE_APPLICATION_CREDENTIALS
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update
      - run: |
          nix-build -j 4 -A fms | cachix push vulcanclimatemodeling
          nix-shell --run "cp -f nix/fv3/configure.fv3 FV3/conf && make -j 4 -C FV3"
          # additional changes to the DNS settings are needed for mac
          # https://stackoverflow.com/questions/23112515/mpich2-gethostbyname-failed
          echo "127.0.0.1 $HOSTNAME" | sudo tee -a /etc/hosts
      - run:
          name: Test
          command: nix-shell --run "pytest --native tests/pytest"
  nix:
    docker:
      - image: nixos/nix
    environment:
      FV3CONFIG_CACHE_DIR: /tmp/.fv3config
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/key.json
    steps:
      - run: nix-env -i git openssh google-cloud-sdk
      - checkout
      - run:
          name: "gcloud auth"
          command: |
            echo $ENCODED_GCR_KEY | base64 -d > $GOOGLE_APPLICATION_CREDENTIALS
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update
      - run: |
          nix-env -iA cachix -f https://cachix.org/api/v1/install
          cachix use vulcanclimatemodeling
      - run: |
          nix-build -j 4 -A fms | cachix push vulcanclimatemodeling
          nix-shell --run "cp -f nix/fv3/configure.fv3 FV3/conf && make -j 4 -C FV3"
      - run:
          name: Test
          command: nix-shell --run "pytest --native tests/pytest"
      - run:
          name: Test wrapper
          command: nix-shell --run "make test_wrapper"
  build_default:
    machine:
      docker_layer_caching: true
      image: ubuntu-1604:201903-01
    environment:
      FV3CONFIG_CACHE_DIR: /tmp/.fv3config
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/key.json
    steps:
      - gcp-cli/install:
        version: 323.0.0
      - checkout
      - run:
          name: "gcloud auth"
          command: |
            echo $ENCODED_GCR_KEY | base64 -d > $GOOGLE_APPLICATION_CREDENTIALS
            echo "export GCLOUD_SERVICE_KEY=\$(echo \$ENCODED_GCR_KEY | base64 --decode)" >> $BASH_ENV
      - gcp-gcr/gcr-auth
      - run: 
          name: "Pull dependency images"
          command: |
            echo "$ENCODED_GCR_KEY" | base64 --decode | docker login --username _json_key --password-stdin https://gcr.io
            make pull_deps
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update
      - run: DOCKER_BUILDKIT=1 BUILDKIT_PROGRESS=plain BUILD_FROM_INTERMEDIATE=y make build build_debug build_serialize
      - restore_cache:
          keys:
            - v1.4-{{ checksum "requirements.txt"}}
      - run: 
          name: "Install Python test dependencies"
          command: |
            pyenv versions
            [ -d /opt/circleci/.pyenv/versions/3.6.2 ] || pyenv install 3.6.2
            pyenv global 3.6.2
            pip install -r requirements.txt
      - save_cache:
          paths:
            - $FV3CONFIG_CACHE_DIR
            - /opt/circleci/.pyenv/versions/3.6.2
          key: v1.4-{{ checksum "requirements.txt"}}
      # tests
      - run: 
          name: "Run pytest tests"
          # -s to avoid capturing stdout/stderr of md5sum call
          command: |
            make test
          no_output_timeout: 1200
      - run: make push_deps
      - run:
          name: "Delete data files"
          command: |
            rm ./tests/pytest/output/*/*/INPUT/*.nc
            rm ./tests/pytest/output/*/*/*/*.grb
          when: on_fail
      - store_artifacts:
          path: ./tests/pytest/output
workflows:
  version: 2
  build:
    jobs:
      - build_default
      - nix
#      - nix-mac
